* {
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 10px;
  box-sizing: border-box;
}

$padding-inline-mobile: 1.2rem;
$padding-inline-desktop: 5rem;
$main-color: rgb(77, 19, 209);

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

body {
  @media (max-width: 550px) {
    padding-inline: $padding-inline-mobile;
  }
  padding-inline: $padding-inline-desktop;
}

header {
  @media (min-width: 550px) {
    // justify-content: flex-end;
    // display: flex;
    // align-items: flex-start;
    // flex-direction: row-reverse;
  }

  .dashnav {
    @media (max-width: 550px) {
      display: none;
    }

    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // border: 1px solid black;
    padding-inline: 10rem;
    .icon_title {
      display: flex;
      align-items: center;
      .icon {
        font-size: 2.4rem;
        margin-right: 5px;
        color: $main-color;
      }
      .title {
        color: $main-color;
        font-size: 2rem;
      }
    }
    figure {
      display: flex;
      align-items: center;
      span {
        display: block;
      }
      .img {
        margin-right: 13px;
        width: 5rem;
        height: 5rem;

        img {
          width: 100%;
          border-radius: 50%;
        }
      }
      figCaption {
        .name {
          color: $main-color;
          font-weight: 700;
          font-size: min(1.8rem);
        }
        .role {
          text-transform: uppercase;
          font-weight: 600;
          font-size: min(1.2rem);
        }
      }
    }
    input {
      border-radius: 50px;
      border: none;
      border: 1px solid rgb(207, 204, 204);
      height: 3.5rem;
      width: 40rem;
      padding-inline: 20px;
      margin-inline: 1rem;
      &:focus {
        outline: none;
      }
    }
  }
  .navMobile {
    padding-top: 2rem;
    @media (min-width: 550px) {
      display: none;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon_title {
      display: flex;
      align-items: center;
      .icon {
        font-size: 2.4rem;
        margin-right: 5px;
        color: $main-color;
      }
      .title {
        font-size: 2rem;
        color: $main-color;
      }
    }
    figure {
      display: flex;
      align-items: center;
      span {
        display: block;
      }
      .img {
        width: 4.3rem;
        height: 4.3rem;
        img {
          width: 100%;
          border-radius: 50%;
        }
      }
    }
  }
  .sideNav {
    text-align: center;

    @media (max-width: 550px) {
      display: none;
    }
    width: 5rem;
    height: 100vh;
    // border: 2px solid black;
    overflow: hidden;
    float: left;
    .menuElements {
      display: flex;
      flex-direction: column;
      font-size: 3.4rem;
      color: $main-color;
      margin-top: 3rem;
      a {
        margin-bottom: 3.2rem;
        transition: 0.3s ease-in-out;
        &:hover {
          transform: scale(1.5);
          color: black;
        }
      }
    }
  }
}

main {
  overflow: hidden;
  @media (min-width: 550px) {
    margin-inline: 10rem;
    margin-top: 3.9rem;
  }
}

///drop down and side nav